*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;

    .container{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 1400px;
        background-color:#fff;
        margin: 2rem 0;
        border-radius: 30px 0 0 30px;

        .box-one{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 700px;
            background-color: #333;
            color: #fff;
            background-image: url('../img/bg.jpg');
            background-position: center;
            background-size: cover;
            border-radius: 30px 0 0 30px;

            .box-text{
                display: flex;
                align-items: center;
                width: 80%;
                margin-bottom: 3rem;
                z-index: 2;

                .box-icon{
                    height: 100%;

                    i {
                        font-size: 1rem;
                        padding: 0.75rem;
                        line-height: 1rem;
                    }
                }

                .box-content{
                    display: flex;
                    flex-direction: column;
                    margin-left: .5rem;
                    height: 100%;

                    p.title{
                        font-size: 1.2rem;
                        padding: .4rem 0 .9rem;
                        font-weight: bold;
                        color: seagreen;
                    }

                    p {
                        font-size: .9rem;
                    }

                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: .9rem;
                    }
                }
            }

            .hero-box-one{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.65);
                z-index: 0;
                border-radius: 30px 0 0 30px;
            }
        }

        .box-two{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 700px;
            background-color: #fff;

            .form-header{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15%;

                p{
                    font-size: 1.6rem;
                }
            }

            .form-box{
                width: 90%;
                height: 85%;

                form{

                    label{
                        display: flex;
                        width: 100%;
                        border: 1px solid #ddd;
                        padding: 1rem;
                        font-size: 1rem;
                        text-transform: uppercase;
                    }

                    .input-row{
                        display: flex;
                        margin-bottom: 1rem;

                        input{
                            width: 50%;
                            border: 1px solid #ddd;
                            padding: 1rem;
                        }
                    }

                    .input-one-row{
                        display: flex;

                        input{
                            width: 100%;
                            border: 1px solid #ddd;
                            padding: 1rem;
                            margin-bottom: 1rem;
                        }
                    }

                    textarea{
                        resize: none;
                        width: 100%;
                        padding: 1rem;
                        border: 1px solid #ddd;
                    }

                    input:focus::placeholder,
                    textarea:focus::placeholder {
                        color: transparent;
                    }

                    input:focus,
                    textarea:focus{
                        outline: none;
                        border: 1px solid seagreen;
                    }
                }

                .box-button {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    margin-top: 2rem;

                    button{
                        padding: 1rem 4rem;
                        background-color: #333;
                        color: white;
                        border-radius: 20px;
                        border: none;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px){
    main{
        .container{
            flex-direction: row;
            max-width: 1920px;
            height: 650px;
            border-radius: 30px 0 0 30px;
    
            .box-one{
                width: 47%;
                height: 100%;
                border-radius: 30px 0 0 30px;
            }
    
            .box-two{
                width: 53%;
                height: 100%;
            }
        }
    }
}
